@import "tailwindcss";

:root {
  --background: linear-gradient(
    180deg,
    rgba(232, 146, 146, 1) 0%,
    rgba(250, 192, 192, 1) 21%,
    rgba(227, 231, 232, 1) 71%,
    rgba(245, 245, 245, 1) 100%
  );
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
